esphome:
  name: bedroom-panel
  friendly_name: Bedroom Subpanel Monitoring
  comment: "ESPHome flashed Emporia Vue 3 monitoring bedroom hallway subpanel"

esp32:
  board: esp32dev
  framework:
    type: esp-idf
    version: recommended

external_components:
  - source: github://emporia-vue-local/esphome@dev
    components:
      - emporia_vue

# Enable Home Assistant API
api:
  encryption:
    key: 
  # (optional) add this to the shared API config above for buzzer features
  services:
    - service: play_rtttl
      variables:
        song_str: string
      then:
        - rtttl.play:
            rtttl: !lambda 'return song_str;'

# …and use HA for setting our RTC time locally
time:
  - platform: homeassistant

# …and expose a (virtual) "switch" that HA can use to restart us
switch:
  - platform: restart
    name: Restart

ota:
  - platform: esphome
    password: 

# enable logging, with some customizations
logger:
  logs:
    # by default, every reading will be printed to the UART, which is very slow
    # This will disable printing the readings but keep other helpful messages
    sensor: INFO

preferences:
  # avoid wearing out the flash lifespan with rapidly-updating sensor data!
  # please also make sure `restore: false` is set on all `platform: total_daily_energy` sensors below.
  flash_write_interval: "48h"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  use_address: 192.168.1.150

output:
  - platform: ledc
    pin: GPIO12
    id: buzzer
  - platform: gpio
    pin: GPIO27
    id: buzzer_gnd

rtttl:
  output: buzzer
  on_finished_playback:
    - logger.log: 'Song ended!'

button:
  - platform: template
    name: "Two Beeps"
    on_press:
      - rtttl.play: "two short:d=4,o=5,b=100:16e6,16e6"

light:
  - platform: status_led
    name: "D3_LED"
    pin: 23
    restore_mode: ALWAYS_ON
    entity_category: config

i2c:
  sda: 5
  scl: 18
  scan: false
  frequency: 150kHz
 # timeout: 1ms
  id: i2c_a

.filters:
  # these are called references in YAML. They allow you to reuse
  # this configuration in each sensor, while only defining it once
  # you can adjust them here, split them up differently, even copy some inline…
  - &throttle_avg
    # average all raw readings together over a 5 second span before publishing
    throttle_average: 5s
  - &throttle_time
    # only send the most recent measurement every 60 seconds
    throttle: 60s
  - &neg
    # invert and filter out any values below 0.
    lambda: 'return max(-x, 0.0f);'
  - &pos
    # filter out any values below 0.
    lambda: 'return max(x, 0.0f);'
  - &abs
    # take the absolute value of the value
    lambda: 'return abs(x);'

sensor:
  - platform: emporia_vue
    variant: vue3
    i2c_id: i2c_a
    phases:
      - id: phase_a  # Verify that this specific phase/leg is connected to correct input wire color on device listed below
        input: BLACK  # Vue device wire color
        calibration: 0.0193  # 0.022 is used as the default as starting point but may need adjusted to ensure accuracy
        # To calculate new calibration value use the formula <in-use calibration value> * <accurate voltage> / <reporting voltage>
        voltage:
          name: "Phase A Voltage"
          filters: [*throttle_avg, *pos]
        frequency:
          name: "Phase A Frequency"
          filters: [*throttle_avg, *pos]
      - id: phase_b  # Verify that this specific phase/leg is connected to correct input wire color on device listed below
        input: RED  # Vue device wire color
        calibration: 0.0193  # 0.022 is used as the default as starting point but may need adjusted to ensure accuracy
        # To calculate new calibration value use the formula <in-use calibration value> * <accurate voltage> / <reporting voltage>
        voltage:
          name: "Phase B Voltage"
          filters: [*throttle_avg, *pos]
        phase_angle:
          name: "Phase B Phase Angle"
          filters: [*throttle_avg, *pos]

    ct_clamps:
      # Do not specify a name for any of the power sensors here, only an id. This leaves the power sensors internal to ESPHome.
      # Copy sensors will filter and then send power measurements to HA
      # These non-throttled power sensors are used for accurately calculating energy
      - phase_id: phase_a
        input: "A"  # Verify the CT going to this device input also matches the phase/leg
        power:
          id: phase_a_power
          filters: [*abs]
      - phase_id: phase_b
        input: "B"  # Verify the CT going to this device input also matches the phase/leg
        power:
          id: phase_b_power
          filters: [*abs]
      # Pay close attention to set the phase_id for each breaker by matching it to the phase/leg it connects to in the panel
      - { phase_id: phase_a, input:  "1", power: { id:  cir1, filters: [ *abs ] } }
      - { phase_id: phase_a, input:  "2", power: { id:  cir2, filters: [ *abs ] } }
      - { phase_id: phase_b, input:  "3", power: { id:  cir3, filters: [ *abs ] } }
      - { phase_id: phase_b, input:  "4", power: { id:  cir4, filters: [ *abs ] } }
      - { phase_id: phase_a, input:  "5", power: { id:  cir5, filters: [ *abs ] } }
      - { phase_id: phase_a, input:  "6", power: { id:  cir6, filters: [ *abs ] } }
      - { phase_id: phase_b, input:  "7", power: { id:  cir7, filters: [ *abs ] } }
      - { phase_id: phase_b, input:  "8", power: { id:  cir8, filters: [ *abs ] } }
      - { phase_id: phase_a, input:  "9", power: { id:  cir9, filters: [ *abs ] } }
      - { phase_id: phase_a, input: "10", power: { id: cir10, filters: [ *abs ] } }
      - { phase_id: phase_b, input: "11", power: { id: cir11, filters: [ *abs ] } }
      - { phase_id: phase_b, input: "12", power: { id: cir12, filters: [ *abs ] } }
      - { phase_id: phase_a, input: "13", power: { id: cir13, filters: [ *abs ] } }
      - { phase_id: phase_a, input: "14", power: { id: cir14, filters: [ *abs ] } }
      - { phase_id: phase_b, input: "15", power: { id: cir15, filters: [ *abs ] } }
      - { phase_id: phase_b, input: "16", power: { id: cir16, filters: [ *abs ] } }
    on_update:
      then:
        - component.update: total_power
        - component.update: balance_power
  # The copy sensors filter and send the power state to HA
  - { platform: copy, name: "Phase A Power", source_id: phase_a_power, filters: *throttle_avg }
  - { platform: copy, name: "Phase B Power", source_id: phase_b_power, filters: *throttle_avg }
  - { platform: copy, name: "Total Power", source_id: total_power, filters: *throttle_avg }
  - { platform: copy, name: "Balance Power", source_id: balance_power, filters: *throttle_avg }
  - { platform: copy, name: "Bedroom ERV", source_id:  cir1, filters: *throttle_avg }
  - { platform: copy, name: "Attic Lights & Aux", source_id:  cir2, filters: *throttle_avg }
  - { platform: copy, name: "Hall Lights", source_id:  cir3, filters: *throttle_avg }
  - { platform: copy, name: "Unknown Circuit 4", source_id:  cir4, filters: *throttle_avg }
  - { platform: copy, name: "Master Bedroom & Back Hallway", source_id:  cir5, filters: *throttle_avg }
  - { platform: copy, name: "Middle Bathroom Vanity", source_id:  cir6, filters: *throttle_avg }
  - { platform: copy, name: "Jake Bedroom", source_id:  cir7, filters: *throttle_avg }
  - { platform: copy, name: "Master Bedroom", source_id:  cir8, filters: *throttle_avg }
  - { platform: copy, name: "East Security Lights", source_id:  cir9, filters: *throttle_avg }
  - { platform: copy, name: "Living Room TV", source_id: cir10, filters: *throttle_avg }
  - { platform: copy, name: "Alan Bedroom Switch", source_id: cir11, filters: *throttle_avg }
  - { platform: copy, name: "Wendi Office", source_id: cir12, filters: *throttle_avg }
  - { platform: copy, name: "Middle Bathroom Heater", source_id: cir13, filters: *throttle_avg }
  - { platform: copy, name: "Middle Bathroom Lights", source_id: cir14, filters: *throttle_avg }
  - { platform: copy, name: "2x Old Work Unknown", source_id: cir15, filters: *throttle_avg }
  - { platform: copy, name: "Energy Monitor", source_id: cir16, filters: *throttle_avg }
  - platform: template
    lambda: return id(phase_a_power).state + id(phase_b_power).state;
    update_interval: never   # will be updated after all power sensors update via on_update trigger
    id: total_power
    device_class: power
    state_class: measurement
    unit_of_measurement: "W"
  - platform: total_daily_energy
    name: "Total Daily Energy"
    power_id: total_power
    accuracy_decimals: 0
    restore: false
    filters: *throttle_time
  - platform: template
    lambda: !lambda |-
      return max(0.0f, id(total_power).state -
        id( cir1).state -
        id( cir2).state -
        id( cir3).state -
        id( cir4).state -
        id( cir5).state -
        id( cir6).state -
        id( cir7).state -
        id( cir8).state -
        id( cir9).state -
        id(cir10).state -
        id(cir11).state -
        id(cir12).state -
        id(cir13).state -
        id(cir14).state -
        id(cir15).state -
        id(cir16).state);
    update_interval: never   # will be updated after all power sensors update via on_update trigger
    id: balance_power
    device_class: power
    state_class: measurement
    unit_of_measurement: "W"
  - platform: total_daily_energy
    name: "Balance Daily Energy"
    power_id: balance_power
    accuracy_decimals: 0
    restore: false
    filters: *throttle_time
  - { power_id:  cir1, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Bedroom ERV Daily Energy", filters: *throttle_time }
  - { power_id:  cir2, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Attic Lights & Aux Daily Energy", filters: *throttle_time }
  - { power_id:  cir3, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Hall Lights Daily Energy", filters: *throttle_time }
  - { power_id:  cir4, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Unknown Circuit 4 Daily Energy", filters: *throttle_time }
  - { power_id:  cir5, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Master Bedroom & Back Hallway Daily Energy", filters: *throttle_time }
  - { power_id:  cir6, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Middle Bathroom Vanity Daily Energy", filters: *throttle_time }
  - { power_id:  cir7, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Jake Bedroom Daily Energy", filters: *throttle_time }
  - { power_id:  cir8, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "Master Bedroom Daily Energy", filters: *throttle_time }
  - { power_id:  cir9, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name:  "East Security Lights Daily Energy", filters: *throttle_time }
  - { power_id: cir10, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name: "Living Room TV Daily Energy", filters: *throttle_time }
  - { power_id: cir11, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name: "Alan Bedroom Switch Daily Energy", filters: *throttle_time }
  - { power_id: cir12, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name: "Wendi Office Daily Energy", filters: *throttle_time }
  - { power_id: cir13, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name: "Middle Bathroom Heater Daily Energy", filters: *throttle_time }
  - { power_id: cir14, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name: "Middle Bathroom Lights Daily Energy", filters: *throttle_time }
  - { power_id: cir15, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name: "2x Old Work Unknown Daily Energy", filters: *throttle_time }
  - { power_id: cir16, platform: total_daily_energy, accuracy_decimals: 0, restore: false, name: "Energy Monitor Daily Energy", filters: *throttle_time }
